
<web-app>
	<display-name>servlet-declarative-security</display-name>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Sensitive</web-resource-name>
			<url-pattern>/WelcomeServlet/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
	<auth-method>BASIC</auth-method>
	</login-config>
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>org.bm.webapp.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
